.hippo {
  margin-top: 50px;
  background-image: url(https://res.cloudinary.com/dekexda28/image/upload/v1622453547/hippo2_uvebo6.png);
  border: 1px solid green;
  background-size: cover;
  height: 140px;
  width: 100%;
  position: relative;
  img {
    height: 30px;
    width: auto;
    position: absolute;
  }
  #horse1 {
    top: 110px;
    left: 62px;
  }
  #horse2 {
    top: 110px;
    left: 59px;
  }
  #horse3 {
    top: 110px;
    left: 56px;
  }
  #horse4 {
    top: 110px;
    left: 53px;
  }
  #horse5 {
    top: 110px;
    left: 50px;
  }
}
