.hippo {
  margin-top: 50px;
  background-image: url(https://res.cloudinary.com/dekexda28/image/upload/v1622453547/hippo2_uvebo6.png);
  // border: 3px solid $sec;
  // border-bottom: none;
  background-size: cover;
  height: 140px;
  width: 100%;
  position: relative;
  img {
    height: 30px;
    width: auto;
    position: absolute;
  }
}

#race {
  border-radius: 20px;
}

.resume {
  background-color: $sec;
  color: $prim;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  ul {
    list-style: none;
    padding: 10px 0px;
  }
  li {
    list-style: none;
    padding: 10px;
  }
}

#mise-title {
  color: $sec;
  font-weight: bold;
  font-size: 40px;
}
