// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$prim: white; //rgb(68,34,110)
// $sec: #81b214;
$sec: #480ca8; //#44226E;
