<div class="card-product">
  <% if user.bet_for(@race) %>
        <div class="text-center ul">
          <ul><%= user.username %> : <%= user.bet_for(@race).sip.to_i %> gorgées sur <strong><%= user.bet_for(@race).horse.name %></strong></ul>
        </div>
      <% else %>
        <ul>...</ul>
  <% end %>
</div>
