<div class="resume">
  <div class="text-center">
    <li class="mt-2"> <strong> <%= user.username %> </strong> : <%= user.bet_for(@race).sip.to_i %> gorgées sur <strong><%= user.bet_for(@race).horse.name %></strong></li>
  </div>
</div>
