<div class="resume">
  <div class="text-center">
    <ul><%= user.username %> : <%= user.bet_for(@race).sip.to_i %> gorgées sur <strong><%= user.bet_for(@race).horse.name %></strong></ul>
  </div>
</div>
