
<div>

<div class="banner stick" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><strong>ZONE DE COURSE</strong>!</h1>
    <a class="btn btn-primary" href="#">
       <%= link_to 'Course suivante', race_runnings_path(@race), class: "btn btn-primary"  %>
    </a>
  </div>
</div>

<div>
  <% @users.each do |user| %>
    <ul><%= user.username %> : <%= user.bets.find_by(race: @race).sip.to_i %> gorgée sur <strong><%= user.bets.find_by(race_id: @race.id).horse.name %></strong></ul>
  <% end %>
</div>
</div>
