<div class="container">
  <div class="banner stick" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media1.tenor.com/images/335b53f23a9c756d0dafb7b33cb39480/tenor.gif?itemid=21696967);">
    <h1 class="text-center"><strong>ET ZÈ PARTIS !!!</strong>!</h1>

    <div class="container">
      <div align="center">
        <%= link_to 'VOIR LES RESULTATS', race_runnings_path(@race), class: "btn btn-primary"  %>
      </div>
    </div>
 </div>
    <h4 class="text-center ul">
      <% @users.each do |user| %>
        <%= render "races/bet",user: user %>
      <% end %>
    </h4>
</div>
