<div class="container">
    <div class="hippo">
      <img id="horse1" src="https://res.cloudinary.com/dekexda28/image/upload/v1622448363/yfp4aolbfntrgy3mk91am64u8osf.png" alt="jockey1">
    </div>
    <%= link_to 'VOIR LES RESULTATS', race_runnings_path(@race), class: "btn btn-primary"  %>
    <h4 class="text-center ul">
      <% @users.each do |user| %>
        <% if user.bet_for(@race) %>
        <div class="text-center ul">
          <ul><%= user.username %> : <%= user.bet_for(@race).sip.to_i %> gorgées sur <strong><%= user.bet_for(@race).horse.name %></strong></ul>
        </div>
        <% else %>
          <ul>...</ul>
        <% end %>
      <% end %>
    </h4>
    <button class="btn" id="race"> click </button>
</div>
