<div class="back">
  <div class="container">
    <h1 class="text-center">Le nouveau jeu pour vos soirées entre Amis! </h1>
    <div class="cont-search mt-5">
      <%= link_to "Créer une partie", rooms_path, method: :post, class: "btn btn-primary"%>
      <%= form_tag participations_path, method: :post, class: "mt-3" do %>
      <div class="d-flex mt-3">
          <%= text_field_tag :code, params[:code], class: "form-control", placeholder: "Code"%>
          <%= submit_tag "Rechercher une partie", class: "btn btn-primary bouton"%>
      </div>
        <% end %>
    </div>
  </div>
</div>
