<div class= "jumbotron text-center">
  <div class="container">
    <p class="lead">
      <%= link_to 'retourner au menu', root_path, class:"btn btn-primary" %>
    </p>

      <h1>PMEA</h1>
      <h2> Copie ce code pour accèder à une partie de  <strong>PMEA</strong>!</h2>
      <p>Partage ce code à tes amis pour qu'ils te rejoignent et joue avec toi.</p>

      <div class="f p-4 mt-4">
      <h3>liste des Joueurs</h3>

        <% @users.each do |user|%>
           <div class="desc p-3 mx-5 my-2">
          <%= image_tag "https://avatars.githubusercontent.com/u/81183454?v=4", class: "avatar-large", alt: "avatar-large" %>
          <%= user.email %>
        <% end %>
        </div>
      </div>

    <%= button_to 'START', room_races_path(@room), class: "btn btn-primary mt-0 text-center"  %>
  </div>
</div>
<!-- race_horses_path -->
