<% @participations.each do |participation|%>
  <div class="card-product">
      <% if participation.user.photo.attached? %>
        <%= cl_image_tag participation.user.photo.key, crop: :fill, class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dekexda28/image/upload/v1621539379/user_cooewh.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <div class="card-product-infos">
        <h2><%= participation.user.username %></h2>
      </div>
  </div>
<% end %>
